# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

rna_seq_qc
alignment_quality_distribution
alignment_length_distribution
alignment_gc_distribution
alignment_depth
mismatch_profile
mismatch_profile_vaf
mismatch_jaccard
coverage_test
genomic_feature_count
gene_count
add_barcode_to_fastq_name
barcode_count
bc_in_region
bc_tss_matrix
bc_feature_matrix
bc_frag_dist
genome_stats
tss_enrichment
sc_rnaseq_feature_matrix
get_clipped_bases
nametag_to_samtag
bc_mismatch_matrix
get_reference_base
bc_coverage
bc_flagstat
bc_fragment_coverage

# vim temp files
*.swp

# Doxygen files
Doxyfile
