# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

rna_seq_qc
alignment_quality_distribution
alignment_length_distribution
alignment_gc_distribution
alignment_depth
mismatch_profile
mismatch_profile_vaf
mismatch_jaccard
coverage_test
genomic_feature_count
gene_count
add_barcode_to_fastq_name
barcode_count
bc_in_region

# vim temp files
*.swp

# Doxygen files
Doxyfile
